{% load static %}

<footer class="footer">
    
    <div class="sub-footer">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-4">   
                </div>
                <div class="col-lg-3">
                    <div class="copy">
                        <p><br> <a href="#"><img src="{% static 'img/logos/weddify_logo.png' %}" alt="Weddify"></a></p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="copy">
                        <p style="font-size: 15px;">A wedding planner website. Made with &#10084; by Sparsh Kumar.</p>
                        <p style="font-size: 15px;">This website is based on Microservices Architecture. 
                            It consist of 4 microservices - Services, Orders, Pages and Account, all written using Django 
                            and one microservice - Email Notification, written using Springboot.
                            Django Templates are used for Dynamic rendering of HTML and Javascript codes. Bootstrap is used for responsive frontend. 
                            All the microservices use RabbitMQ and Celery for asynchronous intercomponent communication. 
                            All the microservices are made as Docker containers and hosted on AWS EC2. 
                            A nginx server is used as Reverse Proxy. 
                            All the static and media files are stored on AWS S3.
                            Payments are handled using Razorpay Payment Gateway.
                            Finally DuckDns and Let's Encrypt are used for Dynamic DNS and SSL certificate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>