{% extends 'base.html' %}

{% block title %} | Our Services {% endblock %}

{% block content %}

{% load static %}

{% load humanize %}

{% load bootstrap_icons %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>All Services</h1>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>

<div class="featured-service content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search Services </h3>
                        <form action="/search" method="">
                            <div class="form-group">
                                <select class="form-control search-fields" name="city">
                                    <option selected="true" disabled="disabled">City</option>
                                    {% for city in city_search %}
                                    <option value="{{city}}">{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="state">
                                    <option selected="true" disabled="disabled">State</option>
                                    {% for state in state_search %}
                                    <option value="{{state}}">{{state}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control search-fields" name="service_type">
                                    <option selected="true" disabled="disabled">Services</option>
                                    {% for service_type in service_search %}
                                    <option value="{{service_type}}">{{service_type}}</option>
                                    {% endfor %}
                                    
                                </select>
                            </div>
                            <div class="range-slider clearfix">
                                            <label>Price</label>
                                            <div data-min="0" data-max="150000"  data-min-name="min_featured_package_price" data-max-name="max_featured_package_price" data-unit="INR" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                {% for services in services %}
                    <div class="col-lg-6 col-md-6">
                        <div class="service-box-3">
                            <div class="service-thumbnail">
                                <a href="service-details.html" class="service-img">
                                    <div class="tag">{{ services.service_type }}</div>
                                    <div class="price-box">
                                        <span>₹{{ services.featured_package_price | intcomma }}</span>
                                    </div>
                                    <img class="d-block w-100" src="{{ services.service_photo_0.url }}" alt="venue" height="262px">
                                </a>
                                <div class="servicebox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="service-magnify-gallery">
                                                {% if services.service_photo_1 %}
                                                <a href="{{ services.service_photo_1.url }}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{ services.service_photo_1.url }}">
                                                </a>
                                                {% endif %}
                                                {% if services.service_photo_2 %}
                                                <a href="{{ services.service_photo_2.url }}" class="hidden">
                                                    <img class="hidden" src="{{ services.service_photo_2.url }}">
                                                </a>
                                                {% endif %}
                                                {% if services.venue_photo_3 %}
                                                <a href="{{ services.service_photo_3.url }}" class="hidden">
                                                    <img class="hidden" src="{{ services.service_photo_3.url }}">
                                                </a>
                                                {% endif %}
                                                {% if services.venue_photo_4 %}
                                                <a href="{{ services.service_photo_4.url }}" class="hidden">
                                                    <img class="hidden" src="{{ services.service_photo_4.url }}">
                                                </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'service_detail' services.id %}">{{ services.title }}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'service_detail' services.id %}">
                                        <i class="flaticon-pin"></i> {{ services.city }}, {{ services.state }}
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        {% if services.has_other_pages %}
                        <ul class="pagination">
                            {% if services.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{services.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% endif %}

                            {% for i in services.paginator.page_range %}
                                {% if services.number == i %}
                                <li class="page-item"><a class="page-link active" href="#">{{i}}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                          
                            {% if services.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{services.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}